<%- include('./partials/head'); %>
<link rel="stylesheet" href="css\myPackage.css">
<title><%- title %></title>
</head>

<body>
    <div class="main-container container justify-content-center">

        <%- include('./partials/header-logo'); %>

        <section class="content-block container">

            <div class="row">
                <div class="slogan">ROOT PAGE Wi make it personal...</div>
                <div class="sub-slogan">All the information about your plant providet by our in hous labs</div>
            </div>


            <div class="row py-3 mb-3">
                <div class="col col-4 p-0">
                    <div class="circle">
                        <div class="counter-title">HRT</div>
                        <div class="counter" data-target="18"></div>
                    </div>
                    <div class="info">
                        <div class="info-title">sativa</div>
                        <ul class="info-data">
                            <li>PLANTED: <span class="i-data">453</span></li>
                            <li>HARVESTED: <span class="i-data">56576</span></li>
                            <li>BRAND: <span class="i-data">21</span></li>
                        </ul>
                        <div class="hr">----</div>
                        <div class="info-description pb-2">
                            Boosts mood, apetite, sleepiness and reduces anxiety
                            <!-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, aperiam beatae alias totam nemo perferendis expedita sequi voluptas praesentium illum, odit quaerat minus! Officia fuga, laborum facilis ad minima obcaecati. Natus, maxime tempora veritatis illum recusandae cupiditate odio earum qui dolorum repudiandae quae sequi illo sint laboriosam rerum magnam error. -->
                        </div>
                    </div>
                </div>
                <div class="col col-4 wrap">
                    <div class="circle">
                        <div class="counter-title">GDW</div>
                        <div class="counter" data-target="59"></div>
                    </div>
                    <img class="img" src="..\img\sativa.png" alt="">
                </div>
                <div class="col col-4">
                    <div class="circle">
                        <div class="counter-title">HRT</div>
                        <div class="counter" data-target="64"></div>
                    </div>
                    <div class="circle mt-4">
                        <div class="counter-title">GRR</div>
                        <div class="counter" data-target="79"></div>
                    </div>
                    <div class="circle mt-2">
                        <div class="counter-title">YRD</div>
                        <div class="counter" data-target="43"></div>
                    </div>
                </div>
            </div>

        </section>

        <%- include('./partials/footer-navigation'); %>
    </div>

    <!-- Optional JavaScript -->

    <script src="js\myPackage.js"></script>
    <%- include('./partials/bottom'); %>